<h1>Welcome to Pizza Zhop</h1>

<div class="row"> 

	<% @products.each do |product| %>
	
		<div class="col-md-3">
			<div><%= product.title %></div>
			<div>
				<img src= '<%= product.path_to_image %>'/>
			</div>		
			
			<div><%= product.description %></div>

			<div><%= product.price %> rub </div>

			<div>Size: <%= product.size %> cm</div>

			<div>
				<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
			</div>

		</div>
			
	<% end %>	

</div>
<br>
<br>
<button class="btn btn-primary" onclick="something()">Click me pleez c:</button>
<br>

 
<!-- <button class="btn btn-primary" onclick="totalPizzaInCart()">Click pleez c:</button> -->

<!-- <button class="btn btn-primary" onclick="add()">Click me pleez c:</button> -->


